/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* colore su light (background #ffffff): */
:root {
  --ifm-color-primary: #276342;
  --ifm-color-primary-dark: #23593b;
  --ifm-color-primary-darker: #215438;
  --ifm-color-primary-darkest: #1b452e;
  --ifm-color-primary-light: #2b6d49;
  --ifm-color-primary-lighter: #2d724c;
  --ifm-color-primary-lightest: #338156;
}

[data-theme='dark'] {
  --ifm-color-primary: #cbdcc8;
  --ifm-color-primary-dark: #b3ccae;
  --ifm-color-primary-darker: #a7c4a1;
  --ifm-color-primary-darkest: #82ab7b;
  --ifm-color-primary-light: #e3ece2;
  --ifm-color-primary-lighter: #eff4ee;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #182018;
}
/* Banner container */.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Left side (logo and title) */.left-side {
  display: flex;
  align-items: center;
}.logo {
  height: 80px; /* Adjust height as needed */
  margin-right: 2rem;
}.hero__title {
  font-size: 2.5rem; /* Adjust font size as needed */
  margin-bottom: 0.5rem;
}.hero__subtitle {
  font-size: 1.25rem; /* Adjust font size as needed */
}

/* Right side (buttons) */.right-side {
  display: flex;
}.button {
  /* Customize button styles as needed */
}
@tailwind base;
@tailwind components;
@tailwind utilities;